@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
}

body {
  background: #1d1b1b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  --COLOR:#00d492;
}

.hideScrollbar{
  overflow-y: hidden;
}

@font-face {
  font-family: HeroFont;
  src: url(/public/kannada-mn.ttf);
}

@keyframes heroanimation {
  from {
    transform: translateY(15%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


.HeroText {
  font-family: HeroFont;
  font-size: 2.9rem;
  word-spacing: 0.5rem;
  color:white;
  animation: heroanimation 0.4s ease-out;
}

.SearchBar {
  padding: 0rem 0.6rem;
  animation: heroanimation 0.4s ease-out;
}

@keyframes infinteCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.2%);
  }
}

#categoriesWrapper {
  margin-bottom: 1.5rem;
  padding-bottom: 0.2rem;
}

.CategoriesMain {
  animation: infinteCarousel 41s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

#categoriesWrapper::-webkit-scrollbar {
  display: none;
}

.CategoryHeader {
  font-family: HeroFont;
}

.HeroBg {
  height: inherit;
  width: inherit;
}

.CategoryItems {
  margin-top: 3rem ;
  margin-bottom:6rem;
}

.homeBtn:hover > i {
  padding-right: 3rem;
  transition: 0.2s ease-out;
}
.homeIcon{
  margin-left:0.8rem;
}
