
.recipeGrid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(3, minmax(21rem, 22.5rem));
  grid-template-rows: 22rem 10rem;
  place-content: center;
  place-items: center;
  row-gap: 5rem;
 
}

.RecipeImg {
  overflow: hidden;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 98vh;
  width: 100%;
}

.Ingredients,
.Instructions,
.Resources {
  border-radius: 0.8rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.Instructions {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: start;
  height: 90vh;
  padding-bottom: 2rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.Instruction::-webkit-scrollbar{
  display: none;
}

.Ingredients {
  grid-row-start: 1;
  grid-row-end: 2;
  width:100%;
  height: 100%;
  padding-bottom:1rem;
  overflow-y: scroll;
}

.Ingredients::-webkit-scrollbar{
  display: none;
}

.Resources {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 11rem;
  
  padding-top: 3.2rem;
}


@keyframes modal{
  0%{
    transform:scale(60%)
  }
  100%{
    transform:scale(100%)
  }
}

@keyframes modalOut{
  0%{
    transform:scale(100%)
  }
  100%{
    transform:scale(60%)
  }
}


.Modal{
  animation:modal 0.1s ease-out
}

.ModalOut{
  animation:modalOut 0.1s ease-out
}

